.btn-small  {
    font-size:15px;
    padding: 2px 5px;
}

.texto-small    {
    font-size:15px;
}

.texto-micro    {
    font-size:12px;
    color: rgb(120, 120, 120);
}

.table tr th {
    font-size: small;
    color: #6c6c6c;
}

.table-slin td  {
    padding: 3px;
    font-size: 13px;
}

.texto-dark {
    color: rgb(56, 56, 56) ;
}

.texto-shadow   {
    text-shadow: 1px 1px 3px rgb(222, 222, 222);
}

.texto-gold   {
    color: rgb(255, 153, 0);
    font-weight: bold;
    text-shadow: 1px 1px 3px rgb(101, 101, 101);
}


.line   {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 4px 0;
}

.card-shadow    {
    box-shadow: rgba(67, 67, 67, 0.2) 0px 2px 8px 0px;
    background-color: #ffffff;
    border: 1px solid #e6e6e6;
    border-top: 2px solid rgb(224, 224, 224) ;
    border-radius: 5px;
}

.card-shadow:hover{
    box-shadow: rgba(0, 0, 0, 0.45) 0px 20px 20px -20px;
    background-color: #f9f9f9;
    border: 1px solid #dbeaf0;
    border-top: 2px solid rgb(11, 144, 200) ;
    transition: all 0.3s;
}

.pendentes  {
    position: absolute;
    left: 20px;
    bottom: 15px;
}

.card-todo-header  {
    text-align: center;
    font-size: 0.9em;
    font-weight: bold;
    color: rgb(83, 83, 83);
    min-height: 55px;
    padding: 5px;
}

.btn-icons  {
    font-size: 13px;
    padding: 1px 5px;
}

.triangle   {
    position: relative;
    margin-top: 0;
    margin-right: 0;
}

/*
CALENDAR
*/

.header-col{
    background: #E3E9E5;
    color:#536170;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
  }
  .header-calendar{
    background: #EE192D;color:white;
  }
  .box-day{
    border:1px solid #E3E9E5;
    height:150px;
  }
  .dayoff{
      background-color: #ccd1ce;
  }